<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vidiic.proyecto_music">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.Activity_Reg" />
        <activity android:name=".launcher.Activity_Launcher" />
        <activity android:name=".fragments.social.chat.ChatActivity" />
        <activity android:name=".Artist_Activity" />
        <activity android:name=".musicFireBase.Sync_Music_Activity" />
        <activity android:name=".Genre_Activity" />
        <activity android:name=".fragments.profile.UploadPhoto" />
        <activity android:name=".Form_Artist" />
        <activity android:name=".From_Genre"/>
    </application>

</manifest>